/ffmpeg
/path.yt
config.ini
/scripts/__pycache__
src
/duild
/dist
YT-Downloader.spec
update.exe.spec
updater.exe.spec
cookies.txt
/gui/queue.json
queue.json
/logs
icon2.ico
ClipTide.spec
__pycache__
utils/__pycache__
/copilot-instructions.md
/modules/office_pack/
/modules/office_pack.zip