@import url('modules/modal.css');
@import url('modules/flex.css');
@import url('modules/animations.css');
@import url('modules/side-bars.css');
@import url('modules/center.css');
@import url('modules/title-bar.css');
@import url('modules/converter.css');
@import url('modules/components.css');
@import url('modules/settings.css');
@import url('modules/settings-modal.css');
@import url('modules/downloader.css');
@import url('modules/notifications.css');
@import url('modules/store.css');

html, body {
    font-size: 16px;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Убираем скролл у самого окна */
    background: var(--bg-color);
}

.app {
    width: 100%;
    height: 100%;
    font-family: "Segoe UI", "Roboto", sans-serif;
    color: var(--text-color);
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

/* Главная рабочая область (под шапкой) */
.body-app {
    display: flex;
    flex-direction: row;
    flex: 1; /* Занимает все оставшееся место */
    min-height: 0; /* Важно для работы скролла внутри */
    gap: 0; /* Нет зазоров между меню и контентом */
    padding: 0;
}