/*                       НАСТРОЙКИ                    */

.settings-block {
    flex: 1;
    min-height: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0.5rem; */
    overflow-x: hidden;
    overflow-y: auto;
}

.settings-block .sections {
    padding: 0.5rem;
    flex: 1;
    min-height: min-content; /* Важно для корректного скролла */
}

.settings-block .sections h3 {
    margin: 0;
    margin-bottom: 0.5rem;
}


/* Блок с настройкой тем */
.themes {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.themes .block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.download-settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    z-index: 100;
}

.language-block {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 100%;
}

.settings-row,
.settings-group,
.folder-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
}

.settings-row {
    justify-content: space-between;
}

.settings-group {
    justify-content: space-evenly;
    gap: 0.5rem;
}

.folder-icons {
    display: flex;
    gap: 0.5rem;
}

/* NEW */
.new {
    /* color: var(--dark-bg); */
    width: 10rem;
    padding: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: var(--border-radius-md);
    background: var(--main-gradient);
}

/* Переключатель */
.switch {
    position: relative;
    display: inline-block;
    width: 2rem;
    /* height: 34px; */
}

.switchs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sections .section {
    border-radius: var(--border-radius-md);
    padding: 1rem;
    background-color: var(--input-bg-transparent);
}

.donate .sections {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.donate p {
    align-content: center;
}

.donate .sections .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.donate .sections .section a {
    color: var(--danger-color);
    text-decoration: none;
}

.donate .sections .section img {
    width: 10rem;
}

.donate .sections .section div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
/* .sections .section h3 {
    border-radius: var(--border-radius-sm);
    padding: 0.5rem;
    background-color: var(--input-bg);
} */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 2rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem; 
    width: 1rem;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(0.5rem);
}
